# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/APP_CONSOLA/Palindromos/target/
/APP_CONSOLA/Binary_Search/target/
/CODE_DESIGNAL/C_ChatGPT/Proyect_1.4/target/
/CODE_DESIGNAL/S_ChatGPT/Proyect_1.5/target/
/CODE_DESIGNAL/C_ChatGPT/Proyect_1.5/target/
/CODE_DESIGNAL/S_ChatGPT/Proyect_1.8/target/
/CODE_DESIGNAL/C_ChatGPT/Proyect_1.9/target/
/CODE_DESIGNAL/S_ChatGPT/Proyect_1.11/target/
/CODE_DESIGNAL/S_ChatGPT/Proyect_1.13/target/
/CODE_DESIGNAL/OTROS(INTERESANTE)/Proyect_1.13/target/
/CODE_DESIGNAL/C_ChatGPT/Proyect_1.15/target/
/CODE_DESIGNAL/S_ChatGPT/Proyect_1.17/target/
